@import "tailwindcss";

html {
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  width: 0px;
  height: 0px;
}


.chat-scroll::-webkit-scrollbar {
  width: 0px;
}


.chat-scroll {
  scrollbar-width: thin;
  scrollbar-color: transparent transparent;
}

html {
  scrollbar-width: none;
}